body {
    background-image: url(../images/weather.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

* {
    font-family: 'Noto Sans', sans-serif;
}

.my-card {
    max-width: 500px;
    margin: 1em auto;
}

.temperature {
    font-size: 4em;
}

.picture-area {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(13,110,253,1) 60%);
}

.radio-input {
    display: none;
}

.radio-input:checked + .radio-label {
    color: #ffc107;
    font-weight: bold;
    transition: all 0.8s ease;
}

.radio-label {
    color: white;
}
